/* RESET */
#root, #__next {
    isolation: isolate;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;  
    padding: 0;
}

@media (prefers-reduced-motion: reduce) {
*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: darksalmon;
}

ul[class],
ol[class],
li {
    list-style: none;
}
/* RESET */

#grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    place-items: center center;
}

.box {
    height: 10rem;
    width: 10rem;
    border: .5rem solid burlywood;
    display: grid;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    box-shadow: 0 0 .5rem 1px rgb(0, 0, 0);
}

.box:hover {
    height: 10.1rem;
    width: 10.1rem;
}

#box-1 {
    cursor: alias;
}

#box-2 {
    cursor: all-scroll;
}

#box-3 {
    cursor: auto;
}

#box-4 {
    cursor: cell;
}

#box-5 {
    cursor: col-resize;
}

#box-6 {
    cursor: context-menu;
}

#box-7 {
    cursor: copy;
}

#box-8 {
    cursor: crosshair;
}

#box-9 {
    cursor: default;
}

#box-10 {
    cursor: e-resize;
}

#box-11 {
    cursor: ew-resize;
}

#box-12 {
    cursor: grab;
}

#box-13 {
    cursor: grabbing;
}

#box-14 {
    cursor: help;
}

#box-15 {
    cursor: move;
}

#box-16 {
    cursor: n-resize;
}

#box-17 {
    cursor: nesw-resize;
}

#box-18 {
    cursor: no-drop;
}

#box-19 {
    cursor: none;
}

#box-20 {
    cursor: not-allowed;
}

#box-21 {
    cursor: ns-resize;
}

#box-22 {
    cursor: nw-resize;
}

#box-23 {
    cursor: nwse-resize;
}

#box-24 {
    cursor: pointer;
}

#box-25 {
    cursor: progress;
}

#box-26 {
    cursor: row-resize;
}

#box-27 {
    cursor: s-resize;
}

#box-28 {
    cursor: se-resize;
}

#box-29 {
    cursor: sw-resize;
}

#box-30 {
    cursor: text;
}

#box-31 {
    cursor: vertical-text;
}

#box-32 {
    cursor: w-resize;
}

#box-33 {
    cursor: wait;
}

#box-34 {
    cursor: zoom-in;
}

#box-35 {
    cursor: zoom-out;
}