body {
    background-color: white;
}

.container {
    text-align: -webkit-center;
    margin: auto;
    width: 1226px;
}

img {
    width: 358px;
    height: 118px;
    margin-top: -10px;
    margin-bottom: -21px;
}

.search-part {
    background-color: #eee;
    padding-bottom:21px;
    height: 41px;

}

#google {
    text-align:center;
    margin-bottom: 0%;
}

.buttons {
    vertical-align: top;
    margin-left: 470px;
    text-align: center;
    text-decoration: none;
}

#search-button {
    box-shadow: inset 0px 0px rgb(118, 118, 118), inset 1px 1px rgb(118, 118, 118), inset -1px -1px rgb(118, 118, 118);
    border-radius: 3px;
    float: left;
    padding: 1px 5px;
    border: 1px;
    width: 108px;
    height: 21px;
    margin-left: 31px;
    font-size: 13px;
}

#lucky-button {
    box-shadow: inset 0px 0px rgb(118, 118, 118), inset 1px 1px rgb(118, 118, 118), inset -1px -1px rgb(118, 118, 118);
    border-radius: 3px;
    float: right;
    padding: 1px 5px;
    border: 1px;
    width: 108px;
    height: 21px;
    margin-right: 506px;
    font-size: 13px;
}

#left-box {
    background-color: #7EE5DA;
    width: 452px;
    height:53px;
    float:left;
    margin-top: -16px;
    padding-bottom: 13px;
    padding-top: 10px;
}

#middle-box {
    background-color: #70CCC2;
    width: 233px; 
    height: 63px;
    margin-right: 80px;
    margin-top: -16px;
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: small;
}

#right-box {
    background-color: #62B3AA;
    width: 525px;
    height:70px;
    float:right;
    padding: 3px;
    margin-top: -76px;
    font-size: small;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}
    
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}
    
::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

#e-mail {
    margin-top: 0px;
    margin-bottom: 2px;
}

#subs-button {
    box-shadow: inset 0px 0px rgb(118, 118, 118), inset 1px 1px rgb(118, 118, 118), inset -1px -1px rgb(118, 118, 118);
    border-radius: 2px;
    float: left;
    padding:1px;
    border: 1px;
    width: 74px;
    height: 19px;
    margin-top: -2px;
    margin-left: 194px;
    font-size: 13px;
}

#archive-link {
    margin-right: 187px;
}

#footer {
    position: fixed;
    height: 397px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    font-size:small
}