@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
	font-family: "Inter", sans-serif;
	font-size: 1rem;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #f4f4f5;
	display: flex;
	justify-content: center;
}

.card {
	margin: 15em auto auto auto;
	position:relative;
	background-color: white;
	box-shadow: 0 0 20px 2px rgb(0, 0, 0);
	border-radius: 20px;
	min-height: 100%;
	min-width: 33%;
}

a {
	text-decoration: none;
	color:gray;
}

.card_logo {
	min-width: 10%; 
	height: 60px;
	margin: 1em auto auto 1em;
	position:absolute;

}

.card_title {
	font-weight: 600;
	font-size: 1.5rem;
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	margin-left: 4.2em;
	margin-right: 0.8em;
	margin-top: 0.9em;
}

.card_description {
	color: gray;
	font-weight: 600;
	font-size: 1rem;
	display: flex;
	flex-direction:row;
	justify-content:flex-start;
	margin-left: 6.4em;
}

.card_collaborators {
	color: gray;
	font-weight: 600;
	margin-left: -0.5em;
	margin-bottom: 1em;
	display: flex;
}

.card_collaborators > img {
	width: 30px; 
	height: 30px;
	border-radius: 1em;
	display: inline-flex;
	flex-direction: column;
}

.card_collaborators_male_photo {
	margin-left: 7em;
	z-index: 0;
}

.card_collaborators_female_photo {
	margin-left: 7em;
	z-index: 1;
	margin-left: -1.2em;
}

.card_collaborators-share {
	align-self: center;
	margin-left: 0.5em;
}

.card_collaborators-names {
	font-weight: 600;
	font-size: 1.2em;
	color: gray;
}