@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* RESET */

#root, #__next {
	isolation: isolate;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;  
    padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    max-width: 100vw;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
    box-shadow: none;
    outline-offset: .05em;
}

img {
    max-width: 100%;
    display: block;
    }

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}
/*****/

#cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 3rem;
}

.result-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    padding: 3rem;
    background: rgb(120,87,255);
    background: radial-gradient(circle, rgba(120,87,255,1) 0%, rgba(46,43,233,1) 0%);
}

.result-card > h4 {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: hsl(241, 100%, 89%);
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    margin-bottom: 1rem;
    background: rgb(78,33,202);
    background: radial-gradient(circle, rgba(78,33,202,1) 0%, rgba(36,33,202,1) 0%);
    box-shadow: 0 0 .1rem .1px rgb(78,33,202);
    color: hsl(0, 0%, 100%);
}

.circle span:nth-child(1) {
    font-size: 4.8rem;
    font-weight: 800;
}

.circle span:nth-child(2) {
    font-size: 1.3rem;
    font-weight: 500;
    color: hsl(241, 100%, 70%);
    margin-top: -1rem;
}

.result-card_footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.result-card_footer-heading {
    font-size: 2rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 1rem;
}

.result-card_footer-info {
    text-align: center;
    color: hsl(241, 100%, 89%);
    font-size: 1.7rem;
}

.summary-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    padding: 2.5rem 3rem;
    row-gap: 2rem;
}

.summary-card > h4 {
    margin-right: auto;
    font-size: 1.8rem;
    font-weight: 700;
}

.score-lines {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1.5rem;
}

#reaction-score, #reaction-score span:nth-child(1), 
#memory-score, #memory-score span:nth-child(1), 
#verbal-score, #verbal-score span:nth-child(1), 
#visual-score, #visual-score span:nth-child(1) {
    display: flex;
    align-items: center;
}

.one-hundred {
    margin-left: .5rem;
    color: hsl(225, 3%, 53%);
}

.score-lines p {
    height: 5rem;
    border-radius: 1rem;
    font-size: 18px;
    padding: 0 1.5rem;
    font-weight: 500;
}

.score-lines p img {
    margin-right: 1rem;
}

#reaction-score {
    background-color: hsl(0, 100%, 97%);
}

#reaction-score span:nth-child(1) {
    color: hsl(0, 100%, 67%);
    margin-right: auto;
}

#memory-score {
    background-color: hsl(39, 100%, 97%);
}

#memory-score span:nth-child(1) {
    color: hsl(39, 100%, 56%);
    margin-right: auto;
}

#verbal-score {
    background-color: hsl(166, 100%, 97%);
}

#verbal-score span:nth-child(1) {
    color: hsl(166, 100%, 37%);
    margin-right: auto;
}

#visual-score {
    background-color: hsl(234, 85%, 97%);
}

#visual-score span:nth-child(1) {
    color: hsl(234, 85%, 45%);
    margin-right: auto;
}

#continue-btn {
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    height: 5rem;
    width: 100%;
    border: 0;
    border-radius: 5rem;
    font-weight: 600;
    cursor: pointer;
}

#continue-btn:active {
    height: 5.1rem;
}

footer {
    display: flex;
    margin-top: auto;
    margin-bottom: .3rem;
    justify-content: center;
    text-align: center;
    width: 100%;
}

footer > a {
    text-decoration:underline;
}

@media screen and (max-width: 1439px) {
    #cards-container {
        max-width: 100%;
        box-shadow: 0 0 3rem 1px hsl(224, 30%, 27%);
    }
    .result-card {
        max-width: 40rem;
    }
    .summary-card {
        min-width: 100%;
    }
    footer {
        font-size: 1.5rem;
    }
}

/* For Desktop */
@media screen and (min-width: 1440px) {

    #cards-container {
        margin-top: auto;
        flex-direction: row;
        max-width: 50%;
        box-shadow: 0 0 3rem 1px hsl(224, 30%, 27%);
        position: relative;
    }
    .result-card {
        height: 55rem;
        width: 50%;
        margin-right: auto;
        padding: 5rem 0;
    }
    .result-card > h4 {
        font-size: 2.5rem;
    }
    .circle span:nth-child(1) {
        font-size: 7rem;
    }
    .circle span:nth-child(2) {
        font-size: 1.8rem;
    }
    .result-card_footer {
        width: 73%;
    }
    .result-card_footer-heading {
        font-size: 4rem;
        font-weight: 500;
    }
    .result-card_footer-info {
        font-size: 1.9rem;
    }
    .circle {
        margin-top: 1rem;
        height: 20rem;
        width: 20rem;
    }
    .summary-card {
        margin-left: auto;
        height: 55rem;
        width: 50%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .summary-card > h4 {
        font-size: 3rem;
    }
    .score-lines {
        row-gap: 1.4rem;
    }
    .score-lines p {
        height: 6.4rem;
    }
    #continue-btn {
        height: 7rem;
        width: 100%;
        margin-bottom: 1.4rem;
    }
}