#root, #__next {
    isolation: isolate;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;  
    padding: 0;
    background-color: transparent;
}

@media (prefers-reduced-motion: reduce) {
*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

body {
    min-height: 100vh;
    line-height: 1.5;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-size: 1.6rem;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

br + br {
    display: none;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

button, fieldset {
    border: none;
}

button, input[type="submit"] {
    cursor: pointer;
}

button:disabled {
    opacity: .5;
    pointer-events: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto; 
}

a[href^="http"]:empty::before {
    content: attr(href);
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
    box-shadow: none;
    outline: #000 solid 2px;
    outline-offset: .05em;
}

img {
    max-width: 100%;
    display: block;
}

img:before {
    content: "We're sorry, the image below is broken :(";
    display: block;
    margin-bottom: 10px;
}
  
img:after {
    content: "(url: " attr(src) ")";
    display: block;
    font-size: 12px;
}

input,
button,
textarea,
select {
    font: inherit;
}