:root {
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	--color-gray: gray;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: #f4f4f5;
	display: flex;
	justify-content: center;
}

.card {
	margin: 15em auto;
	position: relative;
	background-color: white;
	box-shadow: 0 0 20px 2px rgb(0, 0, 0);
	border-radius: 20px;
	padding: 0 1rem;
}

a {
	text-decoration: none;
	color: var(--color-gray);
}

.card_logo {
	min-width: 10%;
	height: 60px;
	margin: 1.7em auto auto 1em;
	position: absolute;
}

.card_title {
	font-weight: 600;
	font-size: 1.5rem;
	margin: 0.9em 0.8em auto 4.2em;
}

.card_description {
	color: var(--color-gray);
	font-weight: 600;
	font-size: 1rem;
	margin-left: 6.4em;
}

.card_collaborators {
	color: var(--color-gray);
	font-weight: 600;
	margin: auto auto 1em -0.5em;
	display: flex;
	align-items: center;
}

.card_collaborators > img {
	width: 30px;
	height: 30px;
	border-radius: 1em;
	display: inline-flex;
	flex-direction: column;
}

.card_collaborators_male_photo {
	margin-left: 7em;
	z-index: 0;
}

.card_collaborators_female_photo {
	z-index: 1;
	margin-left: -1em;
}

.card_collaborators-share {
	margin-left: 0.5em;
}

.card_collaborators-names {
	font-weight: 600;
	font-size: 1.2em;
	padding-left: 0.3rem;
	color: var(--color-gray);
}
