:root {
	--primary-color: #1f2937;
	--secondary-color: #e5e7eb;
	--tertiary-color: #f9faf8;
	--accent-color: #3882f6;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
}

.row {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}

.header-section {
	background-color: var(--primary-color);

	&__container {
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
		padding: 2rem 3rem;
	}
	&__logo {
		font-size: 2.4rem;
		font-weight: bold;
		color: var(--tertiary-color);
	}

	&__nav {
		gap: 3rem;
	}

	&__link {
		font-size: 1.8rem;
		color: var(--secondary-color);
		transition: color 0.3s;

		&:hover {
			outline: 0;
			color: var(--accent-color);
		}
	}
}

.main-section {
	.hero-subsection {
		background-color: var(--primary-color);

		&__container {
			justify-content: center;
			flex-wrap: wrap;
			gap: 4rem;
			padding: 8rem 3rem;
		}

		&__content {
			row-gap: 1rem;
		}

		&__title {
			font-size: 4.8rem;
			font-weight: bolder;
			color: var(--tertiary-color);
		}

		&__text {
			font-size: 1.8rem;
			color: var(--secondary-color);
			text-align: left;
		}

		&__btn {
			width: 12rem;
			font-size: 1.7rem;
			font-weight: 500;
			color: var(--tertiary-color);
			background-color: var(--accent-color);
			border-radius: 0.7rem;
			transition: background-color, color, 0.3s;

			&:hover {
				background-color: var(--secondary-color);
				color: var(--accent-color);
			}
		}

		&__img {
			display: block;
		}
	}

	.info-subsection {
		&__container {
			row-gap: 2rem;
			padding: 3.5rem 0 7rem;
		}
		&__title {
			font-size: 3.6rem;
			text-align: center;
		}

		&__boxes-container {
			justify-content: center;
			flex-wrap: wrap;
			gap: 5rem;
			padding: 3rem;
		}

		.info-box {
			row-gap: 1rem;

			&__empty {
				display: block;
				height: 15rem;
				width: 15rem;
				border: var(--accent-color) solid;
				border-radius: 1rem;
			}

			&__subtext {
				width: 15rem;
				line-height: 1.2;
				text-align: center;
			}
		}
	}

	.quote-subsection {
		background-color: var(--secondary-color);

		&__container {
			justify-content: center;
			align-items: center;
			padding: 8rem 3rem;
			max-width: 95ch;
		}

		&__text {
			font-size: 3.6rem;
			font-style: italic;
			font-weight: lighter;
			line-height: 1.2;
			color: var(--primary-color);
		}

		&__source {
			font-size: 2rem;
			margin-left: auto;
		}
	}

	.action-subsection {
		padding: 10rem 3rem;

		&__container {
			background-color: var(--accent-color);
			border-radius: 0.7rem;
			justify-content: space-around;
			align-items: center;
			gap: 3rem;
			padding: 4rem 3rem;
		}

		&__title {
			color: var(--secondary-color);
			font-size: 2.3rem;
		}

		&__text {
			color: var(--secondary-color);
			max-width: unset;
		}

		&__btn {
			border: var(--secondary-color) solid 0.2rem;
			border-radius: 0.7rem;
			height: 3.7rem;
			width: 12rem;
			color: var(--secondary-color);
			font-weight: 500;
			transition: background-color, color, 0.3s;

			&:hover {
				background-color: var(--secondary-color);
				color: var(--accent-color);
			}
		}
	}
}

.footer-section {
	background-color: var(--primary-color);

	&__container {
		justify-content: center;
		padding: 3rem;
	}
	&__text,
	&__link {
		color: var(--tertiary-color);
	}
}

@media (min-width: 55em) {
	.hero-subsection {
		&__container {
			justify-content: space-between;
			flex-wrap: nowrap !important;
		}
	}
}
