@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
/* RESET */
#root, #__next {
    isolation: isolate;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;  
    padding: 0;
}

@media (prefers-reduced-motion: reduce) {
*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: hsl(210, 46%, 95%);
    padding: 7rem 3rem;
}

a:not([class]) {
    text-decoration-skip-ink: auto; 
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
    box-shadow: none;
    outline-offset: .05em;
}

ul[class],
ol[class] {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}
/* RESET */

#box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2.5rem;
}

.box {
    border: 0;
    width: 33rem;
    border-radius: 1rem;
    padding: 2.5rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#daniel {
    height: 45rem;
    background-color: hsl(263, 55%, 52%);
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 89% 0%;
}

#daniel .photo {
    border: .2rem solid hsla(210, 46%, 95%, 0.5);
    height: 3rem;
    width: 3rem;
}

#daniel .quote {
    margin-bottom: 1rem;
}

#jonathan {
    height: 23rem;
    background-color: hsl(217, 19%, 35%);
}

#jonathan .quote {
    font-size: 1.2rem;
}

#jeanette {
    height: 21rem;
    background-color: hsl(0, 0%, 100%);
}

#patrick {
    height: 37rem;
    background-color: hsl(219, 29%, 14%);
}

#patrick .photo {
    border: 2px solid hsl(263, 55%, 52%);
    height: 3rem;
    width: 3rem;
}

#patrick .quote {
    font-size: 1.29rem;
}

#kira {
    height: 44rem;
    background-color: hsl(0, 0%, 100%);
}

#kira .profil-name, #jeanette .profil-name {
    color: hsl(219, 29%, 14%);
}

#kira .comment, #jeanette .comment {
    color: hsl(219, 29%, 14%);
}

#kira .quote, #jeanette .quote {
    color: hsla(217, 19%, 35%, 0.7);
}

#kira .quote {
    font-size: 1.29rem;
    margin-bottom: .5rem;
}

#kira .profil-title, #jeanette .profil-title {
    color: hsla(217, 30%, 14%, 0.5);
}

.box header {
    display: flex;
    margin-right: auto;
    align-items: center;
    line-height: 1.5rem;
    gap: .2rem;
}

.photo {
    border-radius: 100%;
    height: 2.8rem;
    width: 2.8rem;
}

.profil {
    margin-left: 1.5rem;
}

.profil-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.profil-title {
    font-size: 1.1rem;
    font-weight: 500;
    color: hsla(0, 0%, 81%, 0.5);
}

.comment {
    font-size: 2.01rem;
    font-weight: 500;
    line-height: 2.3rem;
    color: hsl(0, 0%, 100%);
}

.quote {
    font-size: 1.37rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: hsla(0, 0%, 81%, 0.7);
}

@media screen and (min-width: 1440px) {
    #box-container {
        margin: auto 0;
        display: grid;
        row-gap: 2rem;        
        grid-template-columns: repeat(44, 2.5rem);
        grid-template-rows: repeat(2, 28rem);
        grid-template-areas: 
        'daniel jonathan kira'
        'jeanette patrick kira';
    }
    #daniel {
        grid-area: daniel;
        height: 28rem;
        width: 60rem;
        grid-column: 0 / 24;
        background-size: 19% 35%;
        background-position: 80% 0%;
    }
    #daniel .comment {
        font-size: 2.2rem;
    }
    #daniel .quote {
        font-size: 1.45rem;
    }
    #jonathan {
        grid-area: jonathan;
        height: 28rem;
        width: 25rem;
        grid-column: 26 / 36;
    }
    #jonathan .comment {
        font-size: 1.8rem;
    }
    #kira {
        grid-area: kira;
        height: 58rem;
        width: 25rem;
        grid-column: 37 / 48;
    }
    #kira .quote {
        font-size: 1.2rem;
    }
    #jeanette {
        grid-area: jeanette;
        height: 28rem;
        width: 25rem;
        grid-column: 0 / 10;
    }
    #jeanette .quote {
        font-size: 1.2rem;
    }
    #patrick {
        grid-area: patrick;
        height: 28rem;
        width: 60rem;
        grid-column: 12 / 24;
    }
    #patrick .comment {
        font-size: 2.2rem;
    }
    #patrick .quote {
        font-size: 1.5rem;
    }
}