#root, #__next {
	isolation: isolate;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;  
	padding: 0;
}

body {
	font-size: 1.6rem;
    line-height: 2rem;
	min-height: 100vh;
	width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(241, 226, 15);
}

#square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    height: 40rem;
    width: 40rem;
}

#circle {
    background-color: white;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#star {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid red;
    position: relative;
    margin-bottom: 60px;
}

#star:after {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 200px solid red;
    position: absolute;
    content: "";
    top: 60px;
    left: -100px;
}